/*
 * Settings
 */
/*
 * Colors
 */
[class*='badge'] {
  position: relative;
  /*
   * Base
   */
  /*
   * hide empty badge
   */
  /*
   * Positions
   */
  /*
   * Coloring
   */
  /*
   * Size
   */ }
  [class*='badge'][data-badge]:after {
    color: #fff;
    content: attr(data-badge);
    text-align: center;
    text-decoration: none;
    font-style: normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: .1em 0; }
  [class*='badge'][data-badge='']:after {
    content: none; }
  [class*='badge'][class*='top-right']:after {
    top: 0;
    right: 0;
    margin: -13px -13px 0 0; }
  [class*='badge'][class*='top-left']:after {
    top: 0;
    left: 0;
    margin: -13px -13px 0 0; }
  [class*='badge'][class*='warning']:after {
    background-color: #14892C; }
  [class*='badge'][class*='error']:after {
    background-color: #C00; }
  [class*='badge'][class*='info']:after {
    background-color: #F6C342; }
  [class*='badge'][class*='small']:after {
    font-size: .9em;
    width: 22px;
    height: 22px;
    padding: 0; }
