/*
 * Settings
 */
$badgeSizeNormal: 25px;
$badgeSizeSmall: 22px;

/*
 * Colors
 */
$badgeWarning: #14892C;
$badgeInfo: #F6C342;
$badgeError: #C00;

[class*='badge'] {
   position: relative;

  /*
   * Base
   */
  &[data-badge]:after {
    color: #fff;
    content: attr(data-badge);
    text-align: center;
    text-decoration: none;
    font-style: normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: $badgeSizeNormal;
    height: $badgeSizeNormal;
    padding: .1em 0;
  }

  /*
   * hide empty badge
   */
  &[data-badge='']:after {
    content: none;
  }

  /*
   * Positions
   */
  &[class*='top-right']:after {
    $badgeSizeHalf: -(ceil($badgeSizeNormal / 2));
    top: 0;
    right: 0;
    margin: $badgeSizeHalf $badgeSizeHalf 0 0;
  }

  &[class*='top-left']:after {
    $badgeSizeHalf: -(ceil($badgeSizeNormal / 2));
    top: 0;
    left: 0;
    margin: $badgeSizeHalf $badgeSizeHalf 0 0;
  }

  /*
   * Coloring
   */
  &[class*='warning']:after {
      background-color: $badgeWarning;
  }

  &[class*='error']:after {
      background-color: $badgeError;
  }

  &[class*='info']:after {
      background-color: $badgeInfo;
  }

  /*
   * Size
   */
  &[class*='small']:after {
    font-size: .9em;
    width: $badgeSizeSmall;
    height: $badgeSizeSmall;
    padding: 0;
  }

}